<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
{% load static %}
{% include 'header.html' %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
		      <a class="navbar-brand" href="{% url 'merchantprofile' %}"><span class=" "></span> Online Book Store<br><small>Store</small></a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="oi oi-menu"></span> Menu
		      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">

	          <li class="nav-item"><a href="/merchant_details_display/" class="nav-link">Book Store</a></li>
                <li class="nav-item "><a href="/merchant_view_feedback/" class="nav-link">Feedbacks</a></li>
                <li class="nav-item"><a href="/book_order/" class="nav-link">Orders</a></li>
	          <li class="nav-item"><a href="/merchant_change_password/" class="nav-link">Change Password</a></li>
                <li class="nav-item"><a href="/merchant_logout/" class="nav-link">Logout</a></li>

	        </ul>
	      </div>
        </div>
	  </nav>
<img src="{% static 'images/book2.jpg' %}" height="200px" width="100%" />
<br>
  <section class="ftco-section contact-section">
      <div class="container mt-5">
        <div class="row block-9">
			<div class="col-md-6 ftco-animate">
            <form action="{% url 'book_update' %}" class="contact-form" method="post" enctype="multipart/form-data">
				<h2>Update  Here</h2>
				{% csrf_token %}

                <div class="form-group">
               <label>Enter BookStore Owner Id:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="merchant" value="{{book.merchant.id}}" readonly placeholder="Hotel Id">
	                </div>
                </div>

                <div class="form-group">
               <label>Enter Book Id:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="id" value="{{book.id}}" placeholder="Hotel name">
	                </div>
                </div>



                <div class="form-group">
               <label>Enter  Book title:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="bookname" value="{{book.bookname}}" placeholder=" Book title">
	                </div>
                </div>


                <div class="form-group">
               <label>Enter  Book Published Year:</label>
	                <div class="form-group">
	                  <input type="number" class="form-control" name="year" value="{{book.year}}" placeholder="Book Published Year">
	                </div>
                </div>

                 <div class="form-group">
               <label>Enter  Published/Author:</label>
	                <div class="form-group">
	                  <input type="text" class="form-control" name="author" value="{{book.author}}" placeholder="Published/Author">
	                </div>
                </div>


                <div class="form-group">
                    <label for="type">BookLanguage:</label>
                    <select name="type" id="type">
                 <option value="telugu">Telugu</option>
                 <option value="english">English</option>
                 <option value="hindi">Hindi</option>
                 <option value="Other">Other</option>
                    </select>
                </div>


                <div class="form-group">
               <label>Book Image:</label>
	                <div class="form-group">
	                  <input type="file" class="form-control" name="image" placeholder="Img">
	                </div>
                </div>



                 <div class="form-group">
               <label>Book Cost:</label>
	                <div class="form-group">
	                  <input type="number" class="form-control" name="cost" value="{{book.cost}}" placeholder="Cost">
	                </div>
                </div>

                <div class="form-group">
               <label>Enter Discount:</label>
	                <div class="form-group">
	                  <input type="number" class="form-control" name="discount" value="{{book.discount}}" placeholder="Discount">
	                </div>
                </div>
                <div class="form-group">
               <label>Enter Description:</label>
	                <div class="form-group">
                        <textarea name="description" id="description" class="form-group" placeholder="About book" rows="4" cols="30">{{book.description}}</textarea>
	                </div>
                </div>

                <div class="form-group">
                <label for="category">Category:</label>
               <select name="categoty" id="category">
                 <option value="comic">comic</option>
                 <option value="history">history</option>
                  <option value="horror">horror</option>
                 <option value="classic">classic</option>
                 <option value="fantasy">fantasy</option>
                 <option value="sci-fi">sci-fi</option>
                 <option value="Cook">Cook</option>
                 <option value="Biography">Biography</option>
                 <option value="others">others</option>
                </select>
                </div>
              <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
              </div>
                {{msg}}
            </form>
	  </div>
		</div></div>
    </section>
</html>

{% include 'footer.html' %}
