<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Books</title>
</head>
{% include 'header.html' %}
  	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
		      <a class="navbar-brand" href="{%  url 'customerprofile' %}"><span class=" "></span> Online Book Store</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="oi oi-menu"></span> Menu
		      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	           <li class="nav-item"><a href="/customer_details_display/" class="nav-link">My Details</a></li>
	          <li class="nav-item"><a href="/customer_change_password/" class="nav-link">Change Password</a></li>
	          <li class="nav-item active"><a href="/customer_view_book/" class="nav-link">Book Stores</a></li>
                				<li class="nav-item"><a href="/customer_view_order/" class="nav-link">My Orders</a></li>
	          <li class="nav-item"><a href="/customer_logout/" class="nav-link">Logout</a></li>


	        </ul>
	      </div>
		  </div>
	  </nav>
<body>
<img src="{% static 'images/book1.jpg' %}" height="200px" width="100%" />
<br><br>
<table border="1" cellpadding="10" cellspacing="0" style="color:#FFFFFF" width="100%">

<thead>
  <tr>
      <th>BookStore</th>
      <th>BookTitle</th>
      <th>Pub-year</th>
      <th>Author</th>
      <th>Language</th>
      <th>Image</th>
      <th>Cost</th>
      <th>Discount</th>
      <th>Description</th>
      <th>Category</th>
      <th>Buy-it</th>
  </tr>
  </thead>
    <tbody>
    {% for x in books %}
    <tr>
        <td>{{store}}</td>
        <td>{{x.bookname}}</td>
        <td>{{x.year}}</td>
        <td>{{x.author}}</td>
        <td>{{x.type}}</td>
        <td><img src="{{x.image.url}}" height="180px" width="180px" ></td>
        <td>{{x.cost}}</td>
        <td>{{x.discount}}</td>
        <td>{{x.description}}</td>
        <td>{{x.categoty}}</td>
        <td><a href="/customer_order_book/{{x.id}}">Buy</a> </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
{% include 'footer.html' %}
